.box {
  list-style-type: none;
  margin: 100px 275px;
  padding: 15px 16px;
  width: 75%;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 3px solid #555;
  overflow: auto;
  position: absolute;
  transition: .5s;
  height: 50%;
  font-family: Ubuntu;
}

.box p {
  text-align: center;
  font-family: Ubuntu;
}

.box:hover {
  transition: .5s;
  box-shadow: 5px 5px 5px grey;
}

input h1 {
  text-align: center;
  font-family: Ubuntu;
}

input[type=text] {
  text-align: center;
  padding: 2px 2px;
  margin: 5px auto;
  border: 3px solid #555;;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .5s;  
}

input[type=text]:hover {
  padding: 5px 5px;
  margin: 5px auto;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: 5px 5px 5px grey;
}

input[type=text]:focus {
  padding: 5px 5px;
  margin: 5px auto;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: 5px 5px 5px grey;
}

input[type=password] {
  text-align: center;
  padding: 2px 2px;
  margin: 5px auto;
  border: 3px solid #555;;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .5s;
}

input[type=password]:hover {
  padding: 5px 5px;
  margin: 5px auto;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: 5px 5px 5px grey;
}

input[type=password]:focus {
  padding: 5px 5px;
  margin: 5px auto;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: 5px 5px 5px grey;
}

input[type=email] {
  padding: 2px 2px;
  margin: 5px auto;
  border: 3px solid #555;;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .5s;
  text-align: center;
  top: 40%;
}

input[type=email]:hover {
  padding: 5px 5px;
  margin: 5px auto;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: 5px 5px 5px grey;
}

input[type=email]:focus {
  padding: 5px 5px;
  margin: 5px auto;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: 5px 5px 5px grey;
}

button[type=login] {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
  background-color: white;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border: 2px solid #4CAF50;
  border-radius: 3px;
  cursor: pointer;
  font-family: Ubuntu;
}

button[type=login]:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  font-size: 15px;
}

button[type=register] {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
  background-color: white;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border: 2px solid #4CAF50;
  border-radius: 3px;
  cursor: pointer;
  font-family: Ubuntu;
}

button[type=register]:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  font-size: 15px;
}

select.gender {
  padding: 0px auto;
  margin: 5px auto;
  border: 3px solid #555;;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .5s;
  text-align: center;
}

select.gender:hover {
  padding: 5px 25px;
}

select.gender:focus {
  padding: 5px 25px;
}

@media screen and (max-width: 1120px) {
  .box {
    width: 65%;
  }
}

@media screen and (max-width: 960px) {
  .box {
    top: 60%;
    margin: 100px 10px;
    padding: 15px 135px;
  }
}

@media screen and (max-width: 840px) {
  .box {
    top: 60%;
    width: 61.3%;
  }
}

@media screen and (max-width: 672px) {
  .box {
    top: 80%;
    width: 54.5%;
  }
}

@media screen and (max-width: 560px) {
  .box {
    top: 90%;
    width: 43%;
  }
}

@media screen and (max-width: 420px) {
  .box {
    width: 25%;
    top: 120%;
  }
}

@media screen and (max-width: 336px) {
  .box {
    width: 6%;
    top: 150%;
  }
}