<ul>
  <% if (request.session.loggedin) { %>
    <% for (var nav of navbars.filter(n => n.name.toLowerCase() !== 'login' && n.name.toLowerCase() !== 'register')) { %>
      <li><a href=<%= nav.href %>><%= nav.name %></a></p>
    <% } %>
  <% } else { %>
    <% for (var nav of navbars.filter(n => n.name.toLowerCase() !== 'my account' && n.name.toLowerCase() !== 'log out')) { %>
      <li><a href=<%= nav.href %>><%= nav.name %></a></p>
    <% } %>
  <% } %>
</ul>