<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>
      <%= title %> - Home
    </title>
  </head>
  <body>
    <%- include partials/navbar.ejs %>
    <%- include('partials/main.ejs', { type: 'home' }) %>
  </body>
</html>