<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>
	<title>
		<%= title %> - Login
	</title>
	<body>
		<%- include partials/navbar.ejs %>
		<div class="container">
			<%- include('partials/main', { type: 'login' }) %>		
		</div>
	</body>
</html>